<div class="card-container">
  <mat-card *ngFor="let post of Posts" [class.selected]="post === selectedPost"
  (click)="onSelect(post)">
    <mat-card-title>{{post.fields.headline}}</mat-card-title>
    <img mat-card-image *ngFor="let img of post.fields.media" src="{{ img.fields.file.url }}" alt="">
    <mat-card-content>
        <p>{{post.fields.shortContent}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button >Læs artikel</button>
    </mat-card-actions>
  </mat-card>
</div>