
  <mat-grid-list cols="2">
    <mat-grid-tile margin="20px" *ngFor="let post of Posts">
      <mat-card [style.border-right]="'1px dashed #ddd'">
        <mat-card-header>
        <mat-card-title> 
          <h1> {{ post.fields.headline }} </h1>
        </mat-card-title>
        </mat-card-header> 
        <img style="max-width:100%" *ngFor="let img of post.fields.media" src="{{ img.fields.file.url }}" />
        <mat-card-content> {{ post.fields.shortContent }}
        <time>
          Opdateret: {{ post.sys.updatedAt | date: 'fullDate'}}
        </time>
      </mat-card-content>
      </mat-card> 
    </mat-grid-tile>
  </mat-grid-list>


  






