<div>
        <mat-toolbar color="primary">
          <span class="logo">
            <img src="../../assets/JAI_logo_vektor_sk_rm.svg"/>
          </span>
      
          <span>JAI Håndbold</span>
      
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-toolbar>
        <mat-menu x-position="before" #menu="matMenu">
          <a routerLink="/contact">
            <button mat-menu-item>Kontakt</button>
          </a>
          <button mat-menu-item>Option 2</button>
        </mat-menu>
      </div>