<div>
        <mat-toolbar color="primary">
          <a routerLink="/home">
          <img src="../../assets/JAI_logo_vektor_sk_rm.svg" style="height: 100px"/>
          </a>
          <span>JAI Håndbold</span>
      
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-toolbar>
        <mat-menu x-position="before" #menu="matMenu">
          <a routerLink="/info/teams"> 
            <button mat-menu-item>Holdene</button>
          </a>
          <a routerLink="/events"> 
            <button mat-menu-item>Begivenheder</button>
          </a>
          <a routerLink="/info/volunteer"> 
            <button mat-menu-item>Frivillig</button>
          </a>
          <a routerLink="/board"> 
            <button mat-menu-item>Bestyrelsen</button>
          </a>
          <a routerLink="/info/sponsors"> 
            <button mat-menu-item>Sponsorer</button>
          </a>
          <a routerLink="/info/contact">
            <button mat-menu-item>Kontakt</button>
          </a>
          <a routerLink="/info/about">
              <button mat-menu-item>Om JAI</button>
          </a>
          <a routerLink="/newsarchive">
            <button mat-menu-item>Nyhedsarkiv</button>
          </a>
          
        </mat-menu>
      </div>