* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.8;
    color: #333;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    background-color: #009688;
    background: linear-gradient(45deg, #009688, #4DB6AC);
    padding: 10px;
  }
  
  .card-container > div {
    height: auto;
    margin: 10px;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .card-headline {
    font-size: 30px;
    font-weight: 800;
    margin: 8px 24px;
  }
  
  .card-text {
    margin: 8px 16px 8px 16px;
    height: 95px;
    overflow: hidden;
  }
  
  button {
    height: 40px;
    width: 100%;
    font-weight: bold;
    border: none;
    background-color: #232c33;
    color: #c1c1c1;
    cursor: pointer;
  }
  