* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.8;
  color: #333;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  padding-left: 40px;
  padding-right: 40px; 
  
}

.card-container > div {
  height: auto;
  margin: 10px;
  justify-content: center;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.card-headline {
  font-size: 30px;
  font-weight: 800;
  margin: 8px 24px;
}

.card-text {
  margin: 8px 16px 8px 16px;
  height: 95px;
  overflow: hidden;
}

mat-card {
  width: 100%
}
mat-card-title {
  height: 30%
}
mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}
mat-card-actions{
  height: 30%;
}

/*button {
  height: 40px;
  width: 100%;
  font-weight: bold;
  border: none;
  background-color: #232c33;
  color: #c1c1c1;
  cursor: pointer;
}*/
